@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Regular.woff2') format('woff2'),
        url('./fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url("./fonts/Lato-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Rubic-One';
    src: url('./fonts/RubikOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Caveat';
    src: url('./fonts/Caveat-Regular.woff2') format('woff2'),
    url('./fonts/Caveat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Playfair Display';
    src: url("./fonts/playfairdisplay.woff2") format('woff2'),
    url("./fonts/playfairdisplay.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}
