.header {
  min-width: 420px;
  display: grid;
  grid-template-columns: 55% 45%;
  background-color: #FFFFFF;

  .nav{
    grid-column: 1/3;
  }
  .doctorText {
    position: relative;
    margin-left: 19%;
    z-index: 2;
    .doctorName {
      margin-top: 82px;
      padding-top: 10px;
      max-width: 648px;
      height: 196px;
      font-family: Lato, Montserrat, Cambria;
      font-size: 100px;
      line-height: 94%;
      color: rgba(7, 7, 7, 0.8);
    }
    .yourDoctor {
      width: 396px;
      height: 45px;
      font-family: Caveat, Cambria;
      font-size: 40px;
      line-height: 52px;
      color: rgba(0, 0, 0, 0.8);
      margin: 42px 0 54px 0;
    }
    .rectangle8 {
      display: inline-flex;
      align-items: center;
      margin-top: 69px;
      max-width: 922px;
      min-width: 119%;
      height: 66px;
      position: relative;
      background-color: #FFFFFF;
      mix-blend-mode: normal;
      font-family: $myFont;
      font-size: 16px;
      line-height: 170%;
      color: #070707;
      opacity: 1;
      div {
        //mix-blend-mode: normal;
        margin-right: 25px;
      }
      a {
        display: flex;
        align-items: center;
        img {
          margin-left: 25px;
        }
      }
    }
  }
  .container_for_rec {
    position: relative;
    max-width: 629px;
    height: 614px;
    margin-left: 20px;

    .rectangle10 {
      position: absolute;
      top: -128px;
      right: 0;
      width: 65.5%;
      height: 571px;
      background-color: $bgColorLilac;
      z-index: 3;
    }
    .rectangle9 {
      position: absolute;
      right: 0;
      bottom: 66px;
      width: 49%;
      height: 441px;
      background: #B3DDC6;
      mix-blend-mode: normal;
      z-index: 2;
    }
    .rectangle7 {
      position: absolute;
      top: -39px;
      right: 0;
      width: 95%;
      height: 146px;
      background-color: $bgColorTurquoise;
      mix-blend-mode: multiply;
      z-index: 1;
    }
    .rectangle5 {
      position: absolute;
      overflow: hidden;
      max-width: 827px;
      width: 132%;
      min-width: 236px;
      height: 507px;
      background: #CDD5F0;
      //mix-blend-mode: multiply;
      bottom: 0;
      right: 0;
    }
    .photo_doctor {
      position: absolute;
      overflow: hidden;
      bottom: -26px;
      right: 20%;
      max-width: 511px;
      min-width: 500px;
      max-height: 650px;
      min-height: auto;
      img{
        width: 100%;
      }
      // background: url("./img/photo_doctor.png");
      //box-shadow: 16px -10px 33px rgba(16, 66, 24, 0.35);
      z-index: 4;
    }
  }
}
@media (max-width: 1150px)  {
  .header {
    .doctorText{
      .doctorName{
        font-size: 90px;
      }
      .yourDoctor{
        font-size: 36px;
      }
      .rectangle8{
        .header_bottom{
          display: none;
        }
      }
    }
  }
}
@media (max-width:1060px) {
  .header{
    .doctorText{
      .doctorName{
        font-size: 80px;
      }
      .yourDoctor{
        font-size: 32px;
      }
    }
  }
}
@media (max-width: 970px) {
  .header {
    .doctorText{
      .doctorName{
        font-size: 72px;
      }
      .yourDoctor{
        font-size: 30px;
      }
    }
  }
}
@media (max-width: 900px) {
  .header{
    .container_for_rec{
      .photo_doctor{
        right: -10px;
      }
      .rectangle7{
        width: 90%;
      }
    }
  }
}
@media (max-width: 820px) {
  .header{
    .container_for_rec {
      .photo_doctor {
        min-width: 143.5%;
        //min-height: auto;
      }
      .rectangle10{
        max-width: 50%;
      }
    }
  }
}

@media (max-width: 700px) {
  .header {
    .doctorText {
      .doctorName {
        font-size: 62px;
        padding-top: 20px;
        margin-top: 36px;
        height: 120px;
      }
      .rectangle8{
        margin-top: 200px;
        div{
          margin-right: 0;
          font-size: 13px;
        }
        a{
          img{
            margin-left: 10px;
          }
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .header {
    .doctorText {
      .doctorName {
        font-size: 52px;
      }
      .yourDoctor{
        margin-top: 20px;
        margin-bottom: 40px;
      }
      .rectangle8{
        margin-top: 240px;
      }
    }
  }
}