@import "./styleVariables";
.header {
  min-width: 400px;
  display: grid;
  grid-template-columns: 55% 45%;
  background-color: #FFFFFF;

  .nav{
    grid-column: 1/3;
  }

  .doctorText {
    position: relative;
    margin-left: 19%;
    z-index: 7;

    .doctorName {
      margin-top: 82px;
      padding-top: 10px;
      max-width: 648px;
      height: 196px;
      font-family: Lato, Montserrat, Cambria;
      font-size: 100px;
      line-height: 94%;
      color: rgba(7, 7, 7, 0.8);
      font-weight: normal;
    }

    .yourDoctor {
      width: 396px;
      height: 45px;
      font-family: Caveat, Cambria;
      font-size: 40px;
      line-height: 52px;
      color: rgba(0, 0, 0, 0.8);
      margin: 42px 0 54px 0;
      font-weight: normal;
    }

    .rectangle8 {
      display: inline-flex;
      align-items: center;
      margin-top: 69px;
      max-width: 922px;
      min-width: 119%;
      height: 66px;
      position: relative;
      background-color: #FFFFFF;
      mix-blend-mode: normal;
      font-family: $myFont;
      font-size: 16px;
      line-height: 170%;
      color: #070707;
      opacity: 1;

      div {
        //mix-blend-mode: normal;
        margin-right: 25px;
      }

      a {
        display: flex;
        align-items: center;

        img {
          margin-left: 25px;
        }
      }
    }
  }

  .container_for_rec {
    position: relative;
    max-width: 662px;
    height: 700px;
    //margin-left: 20px;
    margin-top: -76px;
    overflow: hidden;

    .rec10 {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 90px;
      max-width: 333px;
      height: 610px;
      width: 52%;
      background: linear-gradient(158.68deg, #87A0F2 1.8%, #5374E7 96.98%);
      z-index: 3;
      mix-blend-mode: normal;
    }

    .rec9 {
      position: absolute;
      width: 118px;
      height: 117px;
      right: 88px;
      top: 80px;
      //width: 19%;
      z-index: 6;
      background: linear-gradient(225.24deg, #B3DDC6 0%, #7BD1A3 100%);
    }
    .rec_light_blue {
      position: absolute;
      max-width: 401px;
      height: 494px;
      top: 100px;
      left: 80px;
      right: 0;
      bottom: 106px;
      width: 60.57%;
      z-index: 4;
      background: linear-gradient(213deg, #CDD5F0 -2.03%, #ADC0FF 100%);
    }
    .rec30{
      position: absolute;
      max-width: 256px;
      height: 318px;
      width: 38.67%;
      top: 100px;
      left: 65px;
      bottom: 282px;
      background: linear-gradient(142.51deg, #B3DDC6 9.1%, #96DCB6 96.69%);
      z-index: 5;
    }
    .rec9_green {
      position: absolute;
      width: 130px;
      height: 398px;
     // width: 22.63%;
      left: 0;
      top: 196px;
      bottom: 106px;
      background: linear-gradient(105.46deg, #B3DDC6 9.94%, #60CA91 95.39%);
      z-index: 4;
    }
    .rec7{
      position: absolute;
      max-width: 481px;
      width: 72.65%;
      height: 135px;
      bottom: 90px;
      right: 0;
      background: linear-gradient(195.93deg, #B3DDC6 0%, #7BD1A3 100%);
      z-index: 5;
    }
    .photo_doctor {
      position: absolute;
      //overflow: hidden;
      top: 117px;
      left: 45px;
      bottom: 0;
      right: 36%;
      max-width: 365px;
      min-width: 350px;
      max-height: 650px;
      z-index: 7;
      img{
        position: absolute;
        width: 100%;
        bottom: 0;
      }
    }
  }
}
@media (max-width: 1150px)  {
  .header {
    .doctorText{
      .doctorName{
        font-size: 90px;
      }
      .yourDoctor{
        font-size: 36px;
      }
      .rectangle8{
        .header_bottom{
          display: none;
        }
      }
    }
  }
}
@media (max-width:1060px) {
  .header{
    .doctorText{
      .doctorName{
        font-size: 80px;
      }
      .yourDoctor{
        font-size: 32px;
      }
    }
  }
}
@media (max-width: 970px) {
  .header {
    .doctorText{
      .doctorName{
        font-size: 72px;
      }
      .yourDoctor{
        font-size: 30px;
      }
    }
    .container_for_rec{
      .photo_doctor{
        min-width: 320px;
      }
    }
  }
}
@media (max-width: 900px) {
  .header{
    .container_for_rec{
      .photo_doctor{
         min-width: 300px;
      }
    }
  }
}
@media (max-width: 800px) {
  .header{
    .container_for_rec{
      .photo_doctor{
        min-width: 270px;
      }
    }
  }
}
@media (max-width: 715px) {
  .header{
    .container_for_rec{
      .photo_doctor{
        min-width: 240px;
      }
    }
  }
}

@media (max-width: 700px) {
  .header {
    .doctorText {
      .doctorName {
        font-size: 62px;
        padding-top: 20px;
        margin-top: 36px;
        height: 120px;
      }
      .rectangle8 {
        margin-top: 200px;
        div {
          margin-right: 0;
          font-size: 13px;
        }
        a {
          img {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
@media (max-width: 640px) {
  .header{
    .container_for_rec{
      .photo_doctor{
        min-width: 180px;
        left: 5%;
      }
    }
  }
}

@media (max-width: 500px) {
  .header {
    .doctorText {
      .doctorName {
        font-size: 52px;
      }
      .yourDoctor{
        margin-top: 20px;
        margin-bottom: 40px;
      }
    }
  }
}
