@import "./styleVariables";

.map{
  background: url("../assets/img/map.svg");
  height: 876px;
  max-width: 100%;
  min-width: 420px;
  overflow: hidden;
  .contacts {
    position: relative;
    width: 366px;
    height: 342px;
    background: #496766;
    margin: 168px 0 0 230px;

    .text_container {
      padding: 8px 67px 58px 80px;
      width: 219px;
      height: 222px;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: normal;
      line-height: 170%;
      color: #FBF6F6;

      p {
        font-family: Playfair Display;
        font-size: 32px;
        line-height: 130%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
      }
      ul {
        list-style-type: none;
        color: rgba(248, 248, 248, 0.8);
        li {
          padding-top: 21px;
        }
      }
    }
    .small_rec {
      position: relative;
      top: -20px;
      left: -20px;
      width: 45px;
      height: 44px;
      background: #B3DDC6;
      mix-blend-mode: normal;
    }
  }
  .map_pointer {
    position: relative;
    width: 59px;
    height: 83px;
    top: -170px;
    left: 875px;

    .ellipse {
      position: absolute;
    }
    .circle {
      position: absolute;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: $bgColorTurquoise;
      margin: 12px 14px;
    }
  }
}

@media (max-width: 1000px) {
  .map {
    .contacts {
      margin: 17% 10% 30% 23%;
    }
  }
}
@media (max-width: 700px) {
  .map {
    .contacts {
      margin: 17% auto;
    }
  }
}