$myFont: Montserrat, Lato, Rubic-One, Sans-serif;
$myColor: #070707;
$myFontSize: 18px;
$btnColor: #07837E;
$myBgColor: #FFFFFF;
$bgColorLilac: #CDD5F0;
$bgColorTurquoise: #B3DDC6;
$bgBlueGradient: linear-gradient(173.39deg, #87A0F2 1.8%, #5374E7 96.98%);
$bgGreenGradient: linear-gradient(247.29deg, #B3DDC6 0%, #7BD1A3 100%);