@import "../styleVariables";

#article {
  background-color: #FFFFFF;
  font-size: 18px;
  display: grid;
  grid-template-columns: minmax(320px, 0.5fr) minmax(320px, 0.9fr);
  grid-gap: 30px;

  .nav {
    grid-column: 1/3;
    margin-top: 0;
    padding-top: 47px;
  }

  .article_top {
    grid-column: 1/3;
    width: 100%;
    margin-top: 40px;
    p {
      margin: 0 auto;
      max-width: 95%;
      height: 66px;
      font-size: 30px;
      line-height: 120%;
      text-align: center;
      letter-spacing: 0.1em;
    }
    .rec20 {
      margin-top: -68px;
      width: 43.2%;
      height: 76px;
      background: $bgColorTurquoise;
      float: right;
    }
  }
  .container{
    grid-column: 1/2;
    position: relative;
    max-width: 497px;
    width: 100%;
    min-width: 320px;
    height: 464px;
    float: left;
    margin-right: 118px;
    margin-top: 65px;
    margin-bottom: 10px;
    img{
      position: absolute;
      max-width: 321.77px;
      width: 64.58%;
      top: 22px;
      //left: 152px;
      left: 28%;
      z-index: 2;
    }
    .rec11{
      position: absolute;
      width: 36.6%;
      height: 50px;
      background: $bgColorTurquoise;
      left: 45px;
    }
    .rec10{
      position: absolute;
      background: $bgColorLilac;
      width: 84.5%;
      height: 378px;
      left: 20px;
      top: 50px;
      z-index: 1;
    }
    .rec12{
      position: absolute;
      height: 82px;
      width: 58.3%;
      background: $bgColorTurquoise;
      right: 0;
      bottom: 0;
    }
  }
  .article_text{
    margin: 65px 60px 60px 60px;
    font-size: 18px;
    line-height: 170%;
    color: rgba(7, 7, 7, 0.8);
  }
  .footer{
    grid-column: 1/3;
  }
}

@media (max-width: 900px) {

    #article {
      grid-template-columns: minmax(320px,1fr);
      .nav,
      .article_top,
      .container,
      .article_text,
      .footer{
        grid-column: 1/2;
      }
    }
  }
@media (max-width: 580px) {
  #article{
    .article_top{
      p{
        font-size: 24px;
      }
    }
  }
}

@media (max-width: 470px) {
  #article{
    .article_top{
      p{
        font-size: 21px;
      }
    }
  }
}