.third_screen{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(348px,1fr));
  grid-gap: 48px 50px;
  font-family: $myFont;
  font-size: 25px;
  line-height: 120%;
  letter-spacing: 0.1em;
  margin-left: 5%;
  margin-right: 4%;
  .container_smell {
    max-width: 375px;

    .smell {
      position: relative;
      max-width: 348px;
      width: 100%;
      height: 390px;
      .rec13 {
        position: absolute;
        width: 72%;
        height: 59.5%;
        background: $bgColorLilac;
      }
      img {
        position: absolute;
        z-index: 1;
        margin-left: 66px;
        margin-top: 48px;
        width: 71.3%;
        height: 74.7%;
      }
      .rec12 {
        position: absolute;
        background: $bgColorTurquoise;
        width: 70%;
        height: 31.55%;
        bottom: 0;
        right: 0;
      }
    }
    div {
      p{
        margin-top: 26px;
        text-align: center;
      }
    }
  }

  .container {
    margin-top: 13px;

    .modern_methods {
      position: relative;
      max-width: 367px;
      width: 100%;
      height: 377px;
      margin-bottom: 26px;
      .rec19{
        position: absolute;
        background: $bgColorLilac;
        width: 33.6%;
        height: 55.9%;
        top:22px;
        left:21px;
      }
      img{
        position: absolute;
        z-index: 1;
        top: 37px;
        left: 56px;
      }
      .rec15{
        background: $bgColorTurquoise;
        position: absolute;
        width: 54.4%;
        height: 52.5%;
        right: 0;
        top: 0;
      }
      .rec14{
        position: absolute;
        background: $bgColorTurquoise;
        width: 54.4%;
        height: 29.1%;
        bottom: 0;
      }
      .rec18{
        position: absolute;
        background: $bgColorLilac;
        width: 42.2%;
        height: 44.8%;
        bottom: 32px;
        right: 23px;
      }
    }
    div{
      p{
        max-width: 349px;
      }
    }
  }
  .container_which_includes{

   .which_includes {
     position: relative;
     max-width: 397px;
     height: 394px;
     margin-bottom: 26px;
     .rec16{
       position: absolute;
       width: 51.13%;
       height: 58.8%;
       background: $bgColorLilac;
       right: 0;
       top: 0;
     }
     .rec17{
       position: absolute;
       width: 61.4%;
       height: 29.4%;
       background: $bgColorTurquoise;
       left: 0;
       bottom: 0;
     }
     img{
       position: absolute;
       width: 64.2%;
       height: 73.8%;
       left: 70px;
       top: 65px;
       z-index: 1;
     }
   }
    div{
      p{
        max-width: 320px;
      }
    }
  }

  .container_video{
    height: 394px;
    .video1 {
      height: 315px;
      max-width: 375px;
      position: relative;
      margin-bottom: 28px;
      .rec13{
        background: $bgColorLilac;
        position: absolute;
        width: 66.9%;
        height: 73.6%;
      }
      .rec12{
        background: $bgColorTurquoise;
        position: absolute;
        width: 64%;
        height: 39%;
        bottom: 0;
        right: 0;
      }
      img{
        position: absolute;
        z-index: 1;
        top: 80px;
        left: 58px;
      }
    }
    .button,.button_shadow{
      width: 209px;
    }
  }

  .container_video {
    height: 353px;
    .video2 {
      position: relative;
      max-width: 369px;
      height: 292px;
      margin-top: 40px;
      margin-bottom: 10px;
      .rec19{
        position: absolute;
        background: $bgColorLilac;
        width: 55.4%;
        height: 61.6%;
        z-index: 1;
      }
      .rec15{
        position: absolute;
        background: $bgColorTurquoise;
        width: 39.9%;
        height: 48.9%;
        right: 2px;
        top: 10px;
      }
      .rec14{
        position: absolute;
        background: $bgColorTurquoise;
        width: 54.3%;
        height: 37.67%;
        left: 14px;
        bottom: 16px;
      }
      .rec18{
        position: absolute;
        background: $bgColorLilac;
        width: 42.11%;
        height: 50%;
        bottom: 0;
        right: 0;
        z-index: 1;
      }
      img{
        position: absolute;
        z-index: 2;
        left: 30px;
        top: 35px;
      }
    }
  }
  .container_video {
    height: 401px;
    .video3 {
      max-width: 397px;
      height: 315px;
      position: relative;
      margin-bottom: 26px;

      .rec16{
        position: absolute;
        background: $bgColorLilac;
        width: 51.1%;
        height: 73.6%;
        right: 0;
      }
      .rec17{
        position: absolute;
        background: $bgColorTurquoise;
        width: 55.6%;
        height: 36.8%;
        bottom: 0;
      }
      img{
        position: absolute;
        z-index: 1;
        left: 18px;
        bottom: 22px;
      }
    }
  }
}
@media (max-width: 819px) {
  .third_screen{
    margin: 0 auto;
  }
}