  .header {
  width: 1440px;
  height: 700px;
  display: grid;
  grid-template-columns: 55% 45%;

  .nav{
    grid-column: 1/3;
  }
    .doctorText {
      margin-left: 150px;
      .doctorName {
        margin-top: 88px;
        width: 648px;
        height: 196px;
        font-family: Lato, Montserrat, Cambria;
        font-size: 100px;
        line-height: 94%;
        color: rgba(7, 7, 7, 0.8);
        z-index: 6;
      }
      .yourDoctor {
        width: 396px;
        height: 45px;
        font-family: Caveat, Cambria;
        font-size: 40px;
        line-height: 52px;
        color: rgba(0, 0, 0, 0.8);
        margin: 12px 0 56px 0;
        z-index: 6;
      }
      .rectangle8{
        margin-top: 98px;
        width: 922px;
        height: 66px;
        background-color: #FFFFFF;
        mix-blend-mode: normal;
        z-index: 4;
        font-family: $myFont;
        font-size: 16px;
        line-height: 170%;
        color: #070707;
        //opacity: 0.8;

        div{
          display: inline-block;
          vertical-align: center;
          mix-blend-mode: normal;
        }
        img{
          padding: 5px 10px;
        }
      }
    }
    .container_for_rec {
      justify-self: end;
      position: relative;
      width: 629px;
      height: 614px;
      overflow: visible;

      .rectangle10 {
        position: absolute;
        top: -128px;
        right: 0;
        width: 401px;
        height: 571px;
        background-color: $bgColorLilac;
        z-index: 3;
      }
      .rectangle9 {
        position: absolute;
        right: 0;
        bottom: 66px;
        width: 314px;
        height: 441px;
        background: #B3DDC6;
        mix-blend-mode: normal;
        z-index: 2;
      }
      .rectangle7 {
        position: absolute;
        top: -39px;
        right: 0;
        width: 537px;
        height: 146px;
        background-color: $bgColorTurquoise;
        z-index: 1;
      }
      .rectangle5 {
        position: absolute;
        width: 827px;
        height: 507px;
        background: #CDD5F0;
        mix-blend-mode: multiply;
        z-index: 1;
        bottom: 0;
        right: 0;
      }
      .photo_doctor {
        position: absolute;
        overflow: hidden;
        top: -43px;
        right: 65px;
        // background: url("./img/photo_doctor.png");
        //box-shadow: 16px -10px 33px rgba(16, 66, 24, 0.35);
        z-index: 5;
      }
    }
}
@media (max-width: 1200px)  {
  .header {
  }
}