.header {
  position: relative;
  grid-area: h;
  background-color: $myBgColor;
  max-width: 100%;

  .container {
    max-height: 100%;

    .doctorText {
      display: flex;
      .doctorName {
        position: absolute;
        width: 648px;
        height: 196px;
        left: 150px;
        top: 153px;
        font-family: Lato, Montserrat, Cambria;
        font-size: 100px;
        line-height: 94%;
        color: rgba(7, 7, 7, 0.8);
        z-index: 6;
      }
      .yourDoctor {
        position: absolute;
        flex-basis: auto;
        width: 396px;
        height: 45px;
        left: 150px;
        top: 391px;
        font-family: Caveat, Cambria;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 52px;
        color: rgba(0, 0, 0, 0.8);
        z-index: 6;
      }
      .header_button {
        position: absolute;
        flex-basis: auto;
        width: 268px;
        height: 51px;
        left: 150px;
        top: 495px;
        background-color: $btnColor;
        font-family: $myFont;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 19px;
        color: #D6DBED;
        z-index: 6;
      }
    }

    .rectangle10 {
      position: absolute;
      right: 0;
      top: 0;
      width: 401px;
      height: 571px;
      background-color: $bgColorLilac;
      z-index: 3;
    }
    .rectangle9{
      position: absolute;
      width: 314px;
      height: 441px;
      right: 0;
      top: 193px;
      background: #B3DDC6;
      mix-blend-mode: normal;
      z-index: 2;
    }
    .rectangle7 {
      position: absolute;
      right: 0;
      top: 47px;
      width: 537px;
      height: 146px;
      background-color: $bgColorTurquoise;
      z-index: 1;
    }
    .rectangle5{
      position: absolute;
      width: 827px;
      height: 507px;
      right: 0;
      bottom: 0;
      background: #CDD5F0;
      mix-blend-mode: normal;
      z-index: 1;
    }
    .photo_doctor{
      position: absolute;
      width: 511px;
      height: 614px;
      right: 118px;
      bottom: 0;
      padding: 0;
      margin: 0;
     // background: url("./img/photo_doctor.png");
      //box-shadow: 16px -10px 33px rgba(16, 66, 24, 0.35);
      z-index: 5;
      overflow: hidden;
    }

    .rectangle8{
      margin: 0 20px;
      position: absolute;
      width: 922px;
      height: 66px;
      left: 0;
      bottom: 0;
      background: #FFFFFF;
      mix-blend-mode: normal;
      z-index: 4;
      font-family: $myFont;
      font-size: 16px;
      line-height: 170%;
      color: #070707;
      opacity: 0.8;
      div{
        float: left;
        padding: 0 40px 0 65px;
      }
      img{
        padding: 0 10px;
      }
    }

  }
}
@media (max-width: 1200px)  {
  .header {

    .container {
      .doctorText {
        .doctorName {
          font-size: 90px;
        }

        .rectangle8 {
          max-width: 400px;
          img {
          }
          .header_bottom {
            visibility: hidden;
          }
        }

      }
    }
  }
}