.top_ill{
  margin-top: 64px;
  h1{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #070707;
    text-align: center;
    //padding: 0 20px;
  }
  .rec20{
    background: $bgColorTurquoise;
    height: 76px;
    width: 42.4%;
    margin-top: -60px;
    float: right;
  }
  p{
    margin: 41px 10.4% 65px 10.4%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 170%;
    text-align: center;
    color: rgba(7, 7, 7, 0.8)
  }
}
.inspection{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  justify-items: center;
  grid-column-gap: 40px;
  h2{
    font-weight: 600;
    font-size: 18px;
    line-height: 170%;
    text-transform: uppercase;
    margin: 48px 0 18px;
  }
  p{
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 170%;
    margin-bottom: 90px;
    max-width: 348px;
  }

  .button{
    width: 172px;
  }
  .button_shadow{
    margin-bottom: 68px;
    width: 172px;
  }

  .fgds{
    .rec21{
      background: $bgColorTurquoise;
      width: 287px;
      height: 50px;
      margin-top: -38px;
    }
    .rec20{
      background: $bgColorLilac;
      width: 75px;
      height: 50px;
      margin-left: 154px;
    }
    img{
      margin-top: -80px;
      margin-left: 154px;

    }
    h2{
      margin-left: 154px;
    }
    p{
      margin-left: 154px;
    }
    .button{
      margin-left: 154px;
      width: 172px;
    }
    .button_shadow{
      margin-left: 161px;
      margin-bottom: 68px;
      width: 172px;
    }
  }
  .rrs{
    .rec23{
      width: 75px;
      height: 50px;
      background: $bgColorLilac;
      margin-left: 125px;
      margin-top: -46.5px;
    }
    .rec22{
      width: 164px;
      height: 50px;
      background: $bgColorTurquoise;
    }
    img{
      margin-left: 90px;
      margin-top: -65px;
    }
    h2{
      margin-top: 42px;
    }
  }
  .fks{
    .rec25{
      width: 143px;
      height: 47.83px;
      background: $bgColorLilac;
      margin-left: 50px;
      margin-top: -35px;
    }
    .rec24{
      background: $bgColorTurquoise;
      width: 287px;
      height: 50px;
      margin-top: -57px;
      float: right;
    }
    h2{
      margin-top: 46px;
      //margin-left: 18px;
    }
    p{
      //margin-left: 18px;
    }
    img{
      margin-top: -29px;
      margin-left: 143px;
    }
  }
}
.ill_text{
  display: grid;
  grid-template-columns: minmax(100px, 0.51fr) minmax(320px, 1fr);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 170%;
  color: rgba(7, 7, 7, 0.8);

  img{
    max-width: 446px;
    width: 100%;
    min-width: 300px;
    mix-blend-mode: hard-light;
    margin-top: 30px;
  }
  .illnesses_list{
    .active, .collapsible:hover{
      background: $bgColorTurquoise;
    }
    .collapsible{
      height: 55px;
      width: 100%;
      background: $bgColorLilac;
      border: none;
      cursor: pointer;
      outline: none;
      font-style: normal;
      font-weight: normal;
      font-size: 25px;
      line-height: 170%;
      color: rgba(7, 7, 7, 0.8);
      text-align: left;
      padding-left: 58px;
    }
    .content{
      margin-bottom: 27px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      p{
        margin: 56px 10% 70px 58px;
      }
    }

  }
}
@media(max-width: 1339px){
  .inspection{
    .fgds{
      .rec21{
        margin-left: -150px;
      }
      .rec20, img{
        margin-left: 0;
      }
      h2, p, .button{
        margin-left: 0;
      }
      .button_shadow{
        margin-left: 6px;
      }
    }
    .fks{
      margin-top: 35px;
      max-width: 348px;
      .rec24{
        float: none;
        margin-left: 27.72%;
        overflow: hidden;

      }
    }
  }
}
@media(max-width: 905px){
  .top_ill{
    h1{
      font-size: 26px;
    }
  }
  .ill_text{
    grid-template-columns: minmax(320px, 1fr);
  }
}
@media(max-width: 783px){
  .top_ill{
    h1{
      font-size: 22px;
    }
  }
}
@media(max-width: 500px ){
  .ill_text{
    .illnesses_list{
      .collapsible{
        font-size: 22px;
        padding-left: 30px;
      }
    }
  }

}