.quote{
  background-color: #FFFFFF;
  text-align: center;
  font-family: Caveat,Cambria, SansSerif;
  font-size: 36px;
  font-style: normal;
  font-weight: normal;
 // line-height: 170%;  /* or 61px */
  color: rgba(0, 0, 0, 0.8);

  .text_quote{
    display: block;
    width: 970px;
    height: 95px;
    margin: 0 auto;
    padding: 0px 100px;
  }
}

@media (max-width: 920px) {
  .quote{
    font-size: 32px;
  }

}