.welcome{
  margin-top: 106px;
  position: relative;
  display: grid;
  grid-template-columns: 5fr 6fr 0.9fr;
  font-family: Montserrat;

  .welcome_top{
    grid-column: 1/4;
    height: 36px;
    width: 100%;
    grid-row: 1/1;
    p{
      padding-left: 64px;
      text-align: center;
      font-family: Playfair Display;
      font-size: 30px;
      line-height: 120%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #070707;
    }
    .rec_20{
      margin-top: -54px;
      float: right;
      width: 484px;
      height: 76px;
      background: #B3DDC6;
      mix-blend-mode: normal;
    }
  }

  .doc_with_folder{
    width: 530px;
    height: 654px;
    .rec_11{
      width: 271px;
      height: 109px;
      background: $bgColorTurquoise;
      margin-left: 43px;
      mix-blend-mode: normal;
    }
    .rec_10{
      width: 480px;
      height: 523px;
      margin-left: 93px;
      background: $bgColorLilac;
      mix-blend-mode: normal;
      .doc_with_folder_photo{
        max-width: 388.62px;
        max-height: 557px;
        margin-top: -49px;
        margin-left: 47px;
        background: #B3BCDD;
       //mix-blend-mode: multiply;

      }
    }
    .rec_11_bot{
      float: right;
      width: 271px;
      height: 22px;
      background-color: $bgColorTurquoise;
      margin-right: 24px;
    }

  }
  .welcome_info {
    margin-top: 100px;
    margin-left: 30px;

    .welcome_menu {
      width: 502px;
      height: 17px;
      font-family: Montserrat;
      font-size: 16px;
      line-height: 170%;

      ul{
        display: flex;
        flex-wrap: nowrap;
        list-style-type: none;
        justify-content: space-between;
        a {
          padding-top: 11px;
          text-decoration: none;

          color: rgba(0, 0, 0, 0.8);
        }
        a:hover {
          border-top: 1px solid $myColor;
        }

      }
    }
    .welcome_text {
      float: left;
      padding-top: 60px;
      padding-right: 20px;
      max-width: 648px;
      max-height: 203px;
      font-size: 18px;
      line-height: 170%;
      /* or 31px */
      color: rgba(7, 7, 7, 0.8);
      overflow: hidden;
    }
  }
  .rectangle_11{
    margin-top: 150px;


    height: 228px;
    background: $bgColorTurquoise;
    mix-blend-mode: normal;
  }


}