.welcome{
  display: grid;
  grid-template-columns: 5fr 7fr 7%;
  grid-column-gap: 60px;
  font-family: Montserrat;
  min-width: 420px;

  .welcome_top{
    padding-top: 106px;
    grid-column: 1/4;
    height: 36px;
    grid-row: 1/1;
    p{
      padding-left: 64px;
      text-align: center;
      font-family: Playfair Display;
      font-size: 30px;
      line-height: 120%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #070707;
    }
    .rec_20{
      margin-top: -54px;
      float: right;
      width: 33.6%;
      height: 76px;
      background: #B3DDC6;
      mix-blend-mode: normal;
    }
  }
  .doc_with_folder{
    max-width: 530px;
    min-width: 320px;
    margin-left: 43px;

    .rec_11{
      width: 51%;
      height: 109px;
      background: $bgColorTurquoise;
      mix-blend-mode: normal;
    }
    .rec_10{
      max-width: 480px;
      width: 85.5%;
      max-height: 523px;
      margin-left: 50px;
      background: $bgColorLilac;
      mix-blend-mode: normal;
      img{
        max-width: 388.62px;
        width: 78%;
        margin: -49px 0 15px 47px;
      }
    }
    .rec_11_bot{
      float: right;
      width: 51%;
      height: 22px;
      background-color: $bgColorTurquoise;
      margin-right: 9%;
    }
  }
  .welcome_info {
    margin-top: 100px;
    min-width: 310px;
    margin-left: 20px;

    .welcome_menu {
      max-width: 502px;
      height: 17px;
      font-family: Montserrat;
      font-size: 16px;
      line-height: 170%;
      margin-right: 40px;
      ul{
        display: flex;
        flex-wrap: nowrap;
        list-style-type: none;
        justify-content: space-between;
        a {
          padding-top: 11px;
          text-decoration: none;
          color: rgba(0, 0, 0, 0.8);
        }
        a:hover {
          border-top: 1px solid $myColor;
        }
      }
    }
    .welcome_text {
      float: left;
      padding-top: 60px;
      padding-right: 20px;
      max-width: 648px;
      max-height: 203px;
      font-size: 18px;
      line-height: 170%;
      /* or 31px */
      color: rgba(7, 7, 7, 0.8);
      overflow: hidden;
    }
  }
  .rectangle_11{
    max-width: 143px;
    min-width: 40px;
    margin-top: 150px;
    height: 228px;
    background: $bgColorTurquoise;
    mix-blend-mode: normal;
  }
}

@media (max-width: 1020px)  {
  .welcome{
    grid-template-columns: 1fr 8%;
    .welcome_top{
      grid-column: 1/3;
    }
    .doc_with_folder{
      margin-top: 40px;

      grid-column: 1/3;
      grid-row: 3;
    }
    .welcome_info{
      margin: 80px 20px 20px 80px;
      align-self: center;
      //width: 90%;
      .welcome_text{
        max-width: 900px;
      }
    }
    .rectangle_11{
      align-self: end;
    }
  }
}
@media (max-width: 850px)  {
  .welcome{
    grid-column-gap: 50px;
    .welcome_top{
      p{
        font-size: 26px;
      }
    }
  }
}
@media (max-width: 620px)  {
  .welcome{
    grid-column-gap: 30px;
    .welcome_top{
      p{
        font-size: 24px;
      }
    }
    .welcome_info{
      margin-left: 50px;
    }
  }
}
@media (max-width: 600px) {
  .welcome{
    grid-column-gap: 0;

    .welcome_top{
      p{
        font-size: 22px;
      }
    }
    .welcome_info{
      //max-width: 200px;
      .welcome_text{
        padding-right: 0;
        font-size: 15px;
      }
    }
    .rectangle_11{
      min-width: 10px;
    }
    .doc_with_folder{
      max-width: 500px;
    }
  }
}
@media (max-width: 520px) {
  .welcome {
    .welcome_top {
      p {
        padding: 0;
        font-size: 18px;
      }
    }
    .welcome_info{
      .welcome_menu{
        ul{
          font-size: 15px;
        }
      }
    }
      .doc_with_folder {
        max-width: 433px;
        margin-left: 0;
      }
  }
}