@import "./css/fonts";

$myFont: Montserrat, Lato, Rubic-One, Sans-serif;
$myColor: #070707;
$myFontSize: 18px;
$btnColor: #07837E;
$myBgColor: #FFFFFF;
$bgColorLilac: #CDD5F0;
$bgColorTurquoise: #B3DDC6;
@import "./css/header";
@import "./css/nav";
@import "./css/welcome";
@import "./css/quote";
@import "./css/footer";


body {
  *{margin: 0; padding: 0;}
  font-family: $myFont;
  font-size: $myFontSize;
  color: $myColor;
  background-color: #E5E5E5;
}

  .main {
    background-color: #FFFFFF;
    margin: 0 auto;
    max-width: 1440px;
    min-width: 320px;
    display: grid;
    grid-template-columns: 1fr;
    //grid-template-rows: 700px 701px 95px 654px 291px;
    grid-template-rows: 700px 807px 95px 654px 291px;
    height: 100vh;
    grid-template-areas: "h" "w" "q" "t" "m" "f";
  }
  .welcome {
    grid-area: w;
    background-color: #FFFFFF;
  }
  .quote {
    grid-area: q;
  }
  .task-for-me {
    grid-area: t;
    background-color: beige;
  }
  .map {
    grid-area: m;
    height: 500px;
    background: url('map.png');
  }
  .footer {
    grid-area: f;
    background-color: #496766;
    height: 291px;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }

  .app-link {
    color: #09d3ac;
  }

