@import "./css/fonts";
$myFont: Montserrat, Lato, Rubic-One, Sans-serif;
$myColor: #070707;
$myFontSize: 18px;
$btnColor: #07837E;
$myBgColor: #FFFFFF;
$bgColorLilac: #CDD5F0;
$bgColorTurquoise: #B3DDC6;
@import "./css/header";
@import "./css/nav";
@import "./css/welcome";
@import "./css/quote";
@import "./css/task-for-me";
@import "./css/map";
@import "./css/footer";
@import "./css/button";
@import "./css/blog/my_medical_blog";
@import "./css/blog/video_symptoms";
@import "./css/blog/third_screen";
@import "./css/blog/probiotics";
@import "./css/blog/article";
body {
  * {
    margin: 0;
    padding: 0;
  }

  margin: 0 auto;
  max-width: 1440px;
  min-width: 320px;
  font-family: $myFont;
  font-size: $myFontSize;
  color: $myColor;
  background-color: #E5E5E5;

  .main {
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: minmax(320px, 1fr);
    height: 100vh;
    grid-template-areas: "h" "w" "q" "t" "m" "f";


    .header {
      grid-area: h;
    }
    .welcome {
      grid-area: w;
      background-color: #FFFFFF;
    }
    .quote {
      grid-area: q;
    }
    .task-for-me {
      grid-area: t;
    }
    .map {
      grid-area: m;
    }
    .footer {
      grid-area: f;
    }
  }

  .blog {
    background-color: #FFFFFF;
    margin: 0 auto;
    max-width: 1440px;
    min-width: 420px;
    display: grid;
    grid-template-columns: minmax(320px, 1fr);
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  .app-link {
    color: #09d3ac;
  }
}
